<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!-- 数据库连接配置 -->
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://localhost:3306/cmp"/>
                <property name="username" value="root"/>
                <property name="password" value="123456"/>
            </dataSource>
        </environment>
    </environments>

    <!-- 类型别名配置 -->
    <!-- 如果有需要，你可以在这里添加类型别名的配置 -->

    <!-- 映射器配置 -->
    <mappers>
        <!-- 指定 XML 映射文件的位置 -->
        <mapper resource="mapper/UserMapper.xml"/>
        <mapper resource="mapper/TestMapper.xml"/>
        <!-- 如果有多个 XML 映射文件，可以继续在这里添加 -->
    </mappers>
</configuration>
