<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- src/main/resources/mapper/UserMapper.xml -->

<mapper namespace="com.izijin.cmp.mapper.UserMapper">
    <select id="find" resultType="com.izijin.cmp.model.User">
        SELECT * FROM users WHERE username = #{username} AND password = #{password}
    </select>
    <select id="findByUsername" resultType="com.izijin.cmp.model.User">
        SELECT * FROM users WHERE username = #{username}
    </select>
</mapper>
